h1 {
    font-family: cursive;
}
#prof {
    width: 260px;
    height: 260px;
}
body {
    text-align: center;
    font-family: monospace;
}
.menu {
    list-style: none;
    font-family: cursive;
    left: 370px;
    position: fixed;
    background-color: black;
}
.item  {
    float: left;
    padding: 10px;
    color: black;
}
.item :hover {
    background-color: orangered;
    color: black;
}
html {
    scroll-behavior: smooth;
}
#home {
    background :linear-gradient(#fa9405 0%,#de0707 100%)
}
.sections {
    height: 600px;
}
#about {
    font-family: cursive;
    font-size: medium;
    color: limegreen;
}
.img {
    height: 320px;
    width: 320px;
}
.sec {
    color: orangered;
    list-style: none;
}
a {
    text-decoration: none;
}
#contacts {
    background-color: coral;
}